/.idea/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Other files to ignore
*.log
*.tmp
*.bak

# Ignore virtual environments
venv/
env/
/artifacts/DumpFiles/
artifacts/Resources/memdump-001.mem
